body {
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-family:  serif;
    margin-bottom: 20px;
}

.logo p {
    font-size: 10px;
    font-weight: bold;
}
.logo img{
    width: 60px;
}

nav {
    display: flex;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a::after{
    content: '';
    width: 0;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.3s
}
nav a:hover::after{
    width: 100%;
}
.search-bar{
    display: flex;
    justify-content: right;
    margin-right: 10px;
}
.profile-info {
    display: flex;
    justify-content: space-between;
}
.profile-info img {
    border-radius: 50%;
    height: 70px;
}
.profile-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.profile-view-button{
    margin-left: 15px;
    background-color: rgb(59, 202, 114);
    border-radius: 5px;
}
.profile-view-button:hover {
    background-color:   #6be97c;
    color: #000000; 
  }
  .post-section{
    margin-left: 10px;

  }
  .post-button{
    background-color: rgb(59, 202, 114);
    border-radius: 5px;
  }
  .post-button:hover{
    background-color: #6be97c;
  }
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgray;
    margin-top: 100px;
    font-size: large;
}

.about-us p {
    font-weight: 200;
    margin-left: 20px;
}
.phone{
    margin-right: 30px;
}

.phone p {
    display: flex;
    align-items: center;
}

.social-media {
    display: flex;
    gap: 20px;
    font-size: 30px;
    margin-left: 10px;
    color: blue;
}
